<!DOCTYPE html>
<html lang="es-Do">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LISTADO DE ENCARGADOS DE VENTAS</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/panelControl.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listados_movimientos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modales.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mensaje.css') }}">
</head>
<body>
    <header id="contenedor_menu">
        <!-- SE GENERA DINAMICAMENTE DESDE JS -->
    </header>
    <main>
        <div class="contenedor_principal">
            <div class="contenedor_encabezado_filtro">
                <div id="abrir_filtro" class="abrir_filtro">
                    <i class="fas fa-stream"></i>
                    <span>Filtro</span>
                </div>
                <h2>Encargados ventas</h2>
                <div id="contenedor_filtro" class="contenedor_filtro">
                    <form action="/listadodeencargadosventas" method="post" enctype="multipart/form-data" class="formularios">
                        <div class="campo_filtro">
                            <input type="number" id="codigo_desde" name="codigo_desde" placeholder="Desde el c&oacute;digo" autocomplete="off">
                        </div>
                        <div class="campo_filtro">
                            <input type="number" id="codigo_hasta" name="codigo_hasta" placeholder="Hasta el c&oacute;digo" autocomplete="off">
                        </div>
                        <div class="botones_filtro">
                            <button type="submit" class="filtro"><i class="fa-solid fa-filter"></i></button>
                            <button type="submit" id="reiniciar" name="reiniciar" class="reiniciar"><i class="fa-solid fa-rotate-right"></i></button>
                            <button type="button" id="cerrar_filtro"><i class="fa-solid fa-close"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="contenedor_tabla">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for mensaje in messages %}
                        <div id="contenedor_notificacion" class="contenedor_notificacion contenedor_notificacion_inventario">
                            <div class="cuerpo_notificacion">
                                <div class="descripcion_notificacion">  
                                    <div class="icono_notificacion">
                                        <i class="fa-solid fa-info"></i>
                                    </div>           
                                    {{ mensaje }} 
                                </div> 
                                <button id="boton_notificacion" class="boton_notificacion">
                                    <i class="fa-solid fa-close"></i>
                                </button>
                            </div>
                            <div class="barra_notificacion"></div>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <table class="tabla">
                    <thead>
                        <tr>
                            <th scope="col">C&Oacute;DIGO</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">GESTI&Oacute;N</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for encargado_ventas in encargados_ventas %}
                        <tr>
                            <td>{{ encargado_ventas[1] }}</td>
                            <td>{{ encargado_ventas[2] }}</td>
                            <td>
                                <div class="gestion">
                                    <a href="#" onclick="editarEncargadoVentas('{{ encargado_ventas[0] }}', '{{ encargado_ventas[1] }}', '{{ encargado_ventas[2] }}')"class="boton_editar"><i class="fa-solid fa-edit"></i></a>
                                    <form action="/eliminarencargadoventas" method="post" enctype="multipart/form-data" class="form_eliminar">
                                        <button type="submit" class="boton_eliminar" onclick="return confirmacion_eliminar_articulo()">
                                            <input type="hidden" id="id_encargado_ventas" name="id_encargado_ventas" value="{{ encargado_ventas[0] }}">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <div class="controles_paginacion">
                                    <button id="anterior" class="boton_paginacion anterior">&lt;</button>
                                    <span class="informacion_paginacion"><span class="pagina_actual">1</span> / <span class="paginas_totales">1</span></span>
                                    <button id="siguiente" class="boton_paginacion siguiente">&gt;</button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </main>
    <div id="contenedor_modal"></div>
    <div id="background_modal" class="background_modal"></div>
    <script src="https://kit.fontawesome.com/25da21ab57.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='JS/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/modales.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/filtros.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/listados_movimientos.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/mensajes.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/confirmaciones.js') }}"></script>
</body>
</html>