<!DOCTYPE html>
<html lang="es-Do">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERFIL</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/panelControl.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modales.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mensaje.css') }}">
</head>
<body>
    <header id="contenedor_menu">
        <!-- SE GENERA DINAMICAMENTE DESDE JS -->
    </header>
    <main>
        <h2>Perfil</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for mensaje in messages %}
                <div id="contenedor_notificacion" class="contenedor_notificacion contenedor_notificacion_inventario">
                    <div class="cuerpo_notificacion">
                        <div class="descripcion_notificacion">  
                            <div class="icono_notificacion">
                                <i class="fa-solid fa-info"></i>
                            </div>           
                            {{ mensaje }} 
                        </div> 
                        <button id="boton_notificacion" class="boton_notificacion">
                            <i class="fa-solid fa-close"></i>
                        </button>
                    </div>
                    <div class="barra_notificacion"></div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form class="formulario_perfil" action="{{ url_for('perfil') }}" method="post" enctype="multipart/form-data">
            <div class="imagen_perfil">
                <span>
                    <i class="fa-solid fa-user"></i>
                </span>
            </div>
            <div class="informacion_perfil">
                {% for perfil in usuario %}
                <input type="hidden" value="{{ perfil[0] }}" name="id" id="id">
                <div class="campo">
                    <label for="correo_electronico">Correo Electr&oacute;nico</label>
                    <input type="text" class="input_perfil" name="correo_electronico" id="correo_electronico" value="{{ perfil[5] }}" readonly>
                </div>
                <div class="campo">
                    <label for="direccion">Direcci&oacute;n</label>
                    <input type="text" class="input_perfil" name="direccion" id="direccion" value="{{ perfil[3] }}" readonly>
                </div>
                <div class="campo">
                    <label for="telefono">Tel&eacute;fono</label>
                    <input type="text" class="input_perfil" name="telefono" id="telefono" value="{{ perfil[4] }}" readonly>
                </div>
                {% endfor %}
                <div class="botones">
                    <button type="button" id="boton_editar_perfil" class="boton">Editar</button>
                    <button type="submit" class="boton boton_editar">Editar</button>
                </div>
            </div>
        </form>
    </main>
    <div id="contenedor_modal"></div>
    <div id="background_modal" class="background_modal"></div>
    <script src="https://kit.fontawesome.com/25da21ab57.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='JS/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/editar_perfil.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/modales.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/mensajes.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/confirmaciones.js') }}"></script>
</body>
</html>