* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #EAEBEF;
    background-position: center;
    background-size: cover;
    color: #000;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

header,
.barra-lateral {
    z-index: 1;
}

.inicio {
    text-decoration: none;
}

.logo {
    height: 70px;
    margin-top: 10px;
    width: 230px;
}

.barra-lateral {
    background: #FFF;
    border-radius: 0 13px 13px 0;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: 0.6s ease;
    transition-property: left;
    overflow-y: auto;
    width: 240px;
}

.barra-lateral::-webkit-scrollbar {
    width: 0px;
}

.barra-lateral.active {
    left: 0;
}

header h1 {
    color: black;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: -15px;
    right: 2%;
}

.icon {
    height: 35px;
    width: 35px;
}

.barra-lateral .menu {
    margin-top: 5px;
    width: 250px;
}

.barra-lateral .menu .elemento {
    cursor: pointer;
    left: -10px;
    position: relative;
}

.barra-lateral .menu .elemento a {
    align-content: center;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    text-decoration: none;
}

.barra-lateral .menu .elemento a span {
    bottom: 24px;
    position: relative;
}

.barra-lateral .menu .elemento a i {
    margin-right: 15px;
    position: relative;
    top: 4px;
}

.barra-lateral .menu .elemento .sub-menu .sub-elemento:hover {
    background: #ADD8E6;
}

.activado {
    background-color: #009BEF;
}

.barra-lateral .menu .elemento a .dropdown {
    margin: 24.5px 12px 0 0;
    position: absolute;
    transition: 0.3s ease;
    right: 0;
}

.barra-lateral .menu .elemento a img {
    margin: 15px;
}

.barra-lateral .menu .elemento .sub-menu {
    display: none;
}

.barra-lateral .menu .elemento .sub-menu a {
    border-left: 2px solid #303440;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
    padding: 15px;
}

.rotate {
    transform: rotate(90deg);
}

.menu-boton,
.cerrar-boton {
    display: none;
}

@media screen and (max-width: 1224px) {
    .logo {
        width: 200px;
        height: 60px;
    }

    header h1 {
        font-size: 28px;
    }

    .barra-lateral {
        width: 210px;
    }

    .barra-lateral .menu .elemento a{
        font-size: 13px;
    }

    .barra-lateral .menu .elemento .sub-menu a{
        font-size: 12px; 
    }

    .elemento a i {
        left: 71%;
    }

    .barra-lateral .menu .elemento a .dropdown {
        left: 80%;
        width: 10px;
    }
}

@media screen and (max-width: 924px) {
    
    .icon {
        height: 34px;
        width: 34px;
    }
    
    .barra-lateral .menu .elemento a{
        font-size: 13px;
    }
    
    .barra-lateral .menu .elemento .sub-menu a{
        font-size: 12px; 
    }
}

@media screen and (max-width: 824px) {
    .logo {
        height: 50px;
        width: 180px;
    }

    header h1 {
        font-size: 26px;
        margin-right: 20px;
    }

    .barra-lateral {
        left: -205px;
        width: 195px;
    }

    .barra-lateral .menu .elemento a {
        font-size: 12px;
    }

    .barra-lateral .menu .elemento .sub-menu a{
        font-size: 11px;
        padding: 13px;
    }

    .barra-lateral .menu .elemento a .dropdown {
        left: 74%;
    }

    .elemento a i {
        left: 66%;
    }

    .menu-boton {
        font-size: 25px;
        margin-left: 10px;
    }

    .cerrar-boton {
        font-size: 25px;
        margin-left: 160px;
    }
    
    .cerrar-boton,
    .menu-boton {
        display: unset;
    }
}

@media screen and (max-width: 524px) {
    .barra-lateral .elemento a i {
        left: 65%;
        position: relative;
    }

    .menu-boton {
        font-size: 26px;
        margin-left: 10px;
    }

    .cerrar-boton {
        font-size: 25px;
        margin-left: 160px;
    }
}

@media screen and (max-width: 500px) {
    .barra-lateral {
        overflow: hidden;
    }
}