aside {
    bottom: 0;
    left: 20%;
    position: fixed;
    text-transform: uppercase;
    top: 5%;
    right: 0;
}

aside h2 {
    background-color: #009BEF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 97%
}

.contenedor_formulario {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1100px;
    padding-top: 40px;
    overflow: hidden;
}

.informacion_empresa {
    grid-column: 1/7;
}

.grid__ {
    grid-column: 7/12;
    margin-top: 40px;
    margin-left: 30px;
}

.imagen_empresa {
    height: 320px;
    margin-top: 5px;
    margin-left: 50px;
    width: 320px;
}

.campo {
    position: relative;
    margin-top: 30px;
}

input {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #303030;
    display: flex;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    outline: 2px solid #009BEF;
    width: 350px;
}

label {
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(30px, 6px);
    transform-origin: left;
    transition: transform 0.25s;
}

input:focus-visible~label,
input:valid~label {
    color: #000;
    font-size: 20px;
    transform: translate(0, -20px) scale(0.8);
    margin-top: -10px;
}

input:is(:focus-visible, :valid) {
    outline-color: #000;
}

.icono_label {
    position: relative;
    top: -28px;
    left: 5px;
    font-size: 17px;
    cursor: pointer;
}

.fa-location-dot {
    color: #cb0010;
}

.fa-phone {
    color: #3ade56;
}

.fa-envelope {
    color: #ea4335;
}

.botones {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
    margin-right: 50px;
}

.botones a {
    padding: 6px 23px;
}

.boton {
    background-color: #189BEF;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 140px;
}

@media screen and (max-width: 1224px) {
    aside {
        left: 22%;
        position: fixed;
    }

    aside h2 {
        padding: 7px;
        width: 94%;
    }

    .grid__ {
        margin-top: 30px;
        margin-right: 30px;
    }

    .imagen_empresa {
        height: 300px;
        width: 300px;
    }

    input {
        width: 300px;
    }

    .botones {
        margin-right: 3%;
    }

    .botones a {
        padding: 6px 20px;
    }

    .boton {
        height: 36px;
        font-size: 15px;
        width: 120px;
    }
}

@media screen and (max-width: 1124px) {
    aside h2 {
        font-size: 24px;
        width: 96%; 
    }

    .botones {
        margin-right: -4%;
    }

    .boton {
        font-size: 14px;
        width: 110px;
    }
}

@media screen and (max-width: 1024px) {
    aside h2 {
        margin-left: 10px;
        width: 95%; 
    }

    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        padding-top: 10px;
        padding-right: 105px;
    }

    .contenedor_formulario {
        margin-left: 32px;
        padding-top: 0px;
    }

    .imagen_empresa {
        height: 220px;
        margin-top: 15px;
        margin-left: 40px;
        width: 220px;
    }

    .campo {
        margin-top: 10px;
        margin-left: 55px;
    }

    input {
        height: 30px;
        font-size: 13px;
        width: 280px;
    }

    label {
        font-size: 13px;
        transform: translate(30px, 6px);
    }

    input:focus-visible~label,
    input:valid~label {
        font-size: 16px;
        transform: translate(0, -12px) scale(0.8);
    }

    .icono_label {
        top: -27px;
        left: 5px;
        font-size: 15px;
    }

    .botones {
        margin-left: 16%;
        margin-top: 10px;
    }

    .boton {
        height: 34px;
        font-size: 14px;
        width: 115px;
    }
}

@media screen and (max-width: 924px) {
    aside {
        left: 24%;
        position: fixed;
    }

    aside h2 {
        font-size: 22px;
        padding: 8px;
        margin-left: 20px;
        width: 94%;
    }

    .contenedor_formulario {
        margin-left: 62px;
    }
}

@media screen and (max-width: 824px) {
    aside {
        left: -3%;
        position: fixed;
    }

    aside h2 {
        font-size: 20px;
        padding: 9px;
        width: 100%;
    }

    .grid {
        margin-left: 30px;
    }

    .grid__ {
        margin-top: 20px;
    }

    .imagen_empresa {
        height: 180px;
        margin-top: 20px;
        margin-left: 100px;
        width: 180px;
    }

    .campo {
        margin-top: 20px;
    }

    input, label, .icono_label {
        margin-left: 8%;
    }

    .botones {
        margin-left: 27%;
    }

    .boton {
        height: 34px;
        font-size: 13px;
        width: 100px;
    }
}

@media screen and (max-width: 724px) {
    .boton {
        height: 32px;
    }
}

@media screen and (max-width: 624px) {
    .boton {
        height: 32px;
        font-size: 12px;
        margin-top: 10px;
        width: 90px;
    }
}

@media screen and (max-width: 524px) {
    aside {
        left: -4%;
        width: 100%;
    }

    input {
        font-size: 13px;
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    aside {
        left: -4.8%;
    }

    aside h2 {
        padding: 10px;
    }

    .campo {
        margin-left: 75px;
        margin-top: 20px;
    }

    .botones {
        margin-left: 33%;
        margin-top: 10px;
    }
}