aside {
    bottom: 0;
    left: 20%;
    position: fixed;
    right: 0;
    text-transform: uppercase;
    top: 5%;
}

aside h2 {
    background-color: #009BEF;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 97%
}

.contenedor_formulario {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1100px;
    overflow: hidden;
    padding-top: 40px;
}

.informacion_empresa {
    grid-column: 1/7;
}

.grid__ {
    grid-column: 7/12;
    margin-left: 20px;
    margin-top: 0px;
}

.imagen_empresa {
    height: 320px;
    margin-left: 50px;
    margin-top: 5px;
    width: 320px;
}

.campo {
    margin-top: 20px;
    padding: 15px;
}

.titulo_parrafo {
    font-size: 18px;
    font-weight: 700;
}

.parrafos_bd {
    border: none;
    border-radius: 5px;
    border-width: 1px;
    font-size: 17px;
    font-weight: 400;
    outline: 2px solid #009BEF;
    padding: 5px 0;
    text-align: center;
    width: 340px;
}

.editar {
    height: 34px;
    margin-top: 30px;
}

.boton_editar {
    background-color: #189BEF;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-left: 23%;
    padding: 7px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 1224px) {
    aside {
        left: 22%;
    }

    aside h2 {
        padding: 7px;
        width: 94%;
    }

    .contenedor_formulario {
        padding-top: 30px;
    }

    .grid__ {
        margin-right: 0px;
    }

    .imagen_empresa {
        height: 300px;
        width: 300px;
    }

    .parrafos_bd {
        font-size: 16px;
    }

    .boton_editar {
        font-size: 15px;
        margin-left: 25%;
        margin-top: 30px;
        width: 185px;
    }
}

@media screen and (max-width: 1124px) {
    aside h2 {
        font-size: 24px;
        width: 96%; 
    }

    .parrafos_bd {
        width: 320px;
    }

    .boton_editar {
        font-size: 14px;
        margin-left: 30%;
        width: 180px;
    }
}

@media screen and (max-width: 1024px) {
    aside h2 {
        margin-left: 10px;
        width: 95%; 
    }

    .grid {
        align-items: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding-top: 10px;
        padding-right: 105px;
    }

    .contenedor_formulario {
        margin-left: 40px;
        padding-top: 0px;
    }

    .imagen_empresa {
        height: 180px;
        margin-left: 40px;
        margin-top: 5px;
        width: 180px;
    }

    .campo {
        padding-left: 50px;
        padding-top: 0;
    }

    .titulo_parrafo {
        font-size: 16px;
    }

    .parrafos_bd {
        font-size: 15px;
        width: 260px;
    }

    .boton_editar {
        font-size: 14px;
        height: 34px;
        margin-top: 3px;
        width: 170px;
    }
}

@media screen and (max-width: 924px) {
    aside {
        left: 24%;
    }

    aside h2 {
        font-size: 22px;
        margin-left: 20px;
        padding: 8px;
        width: 94%;
    }

    .contenedor_formulario {
        margin-left: 62px;
    }
}

@media screen and (max-width: 824px) {
    aside {
        left: -3%;
    }

    aside h2 {
        font-size: 20px;
        padding: 9px;
        width: 100%;
    }

    .grid {
        margin-left: 40px;
    }

    .imagen_empresa {
        height: 180px;
        margin-left: 100px;
        margin-top: 5px;
        width: 180px;
    }

    .campo {
        padding-left: 100px;
    }

    .parrafos_bd {
        font-size: 16px;
        width: 280px;
    }

    .boton_editar {
        font-size: 13px;
        height: 34px;
        margin-left: 41%;
        width: 160px;
    }
}

@media screen and (max-width: 724px) {
    .campo {
        padding-left: 100px;
    }

    .parrafos_bd {
        font-size: 15px;
    }
}

@media screen and (max-width: 624px) {
    .titulo_parrafo {
        font-size: 15px;
    }

    .parrafos_bd {
        font-size: 14px;
        width: 260px;
    }

    .boton_editar {
        font-size: 12px;
        height: 32px;
    }
}

@media screen and (max-width: 524px) {
    aside {
        left: -4%;
        width: 100%;
    }

    .parrafos_bd {
        font-size: 13px;
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    aside {
        left: -4.8%;
    }

    aside h2 {
        padding: 10px;
    }

    .imagen_empresa {
        margin-top: 10px;
    }

    .campo {
        margin-top: 20px;
    }

    .titulo_parrafo {
        font-size: 14px;
    }

    .editar {
        margin-top: 30px;
    }

    .boton_editar {
        height: 34px;
        margin-left: 41%;
        width: 160px;
    }
}