.flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(3px);
}

.contenido-modal {
    position: relative;
    background-color: #EAEBEF;
    margin: auto;
    width: 45%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    animation-name: modal;
    animation-duration: 1s;
}

@keyframes modal {
    from {
        top: -330px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.close:hover {
    color: #7f8c8d;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 8px 16px;
    background-color: #009BEF;
}

.modal-body {
    padding: 20px 16px;
}

.titulo_modal {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
}

.enlace_modal {
    color: #000;
    font-size: 14px;
    margin-left: 4px;
    text-decoration: none;
}

.enlace_modal .editar {
    height: 16px;
    margin-left: 4px;
    width: 16px;
}

.contentedor_tabla_modal {
    height: 70%;
    overflow-y: scroll;
}

.tabla_modal {
    background-color: #fff;
    border-collapse: collapse;
    height: auto;
    margin-top: 20px;
    width: 100%;
}

.tabla_modal thead {
    position: sticky;
    top: 11.8%;
}

.tabla_modal th {
    background-color: #009BEF;
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 7px;
    text-align: center;
}

.tabla_modal td {
    border-right: 1px solid;
    padding: 7px;
    text-align: center;
}

.eliminar {
    height: 16px;
    text-decoration: none;
    width: 16px;
}

@media screen and (max-width: 1224px) {
    .titulo_modal_mostrar {
        font-size: 20px;
    }

    .contenido-modal {
        width: 55%;
    }

    .tabla_modal {
        margin: auto;
    }

    .tabla_modal th {
        font-size: 18px;
    }

    .tabla_modal td {
        font-size: 18px;
    }
}

@media screen and (max-width: 1124px) {
    .titulo_modal_mostrar {
        font-size: 19px;
    }

    .contenido-modal {
        width: 55%;
    }

    .tabla_modal {
        margin: auto;
    }

    .tabla_modal th {
        font-size: 17px;
    }

    .tabla_modal td {
        font-size: 17px;
    }
}

@media screen and (max-width: 1024px) {
    .titulo_modal_mostrar {
        font-size: 18px;
    }

    .contenido-modal {
        width: 55%;
    }

    .tabla_modal {
        margin: auto;
    }

    .tabla_modal th {
        font-size: 16px;
    }

    .tabla_modal td {
        font-size: 16px;
    }
}

@media screen and (max-width: 924px) {
    .titulo_modal_mostrar {
        font-size: 18px;
    }

    .contenido-modal {
        width: 55%;
    }

    .tabla_modal {
        margin: auto;
    }

    .tabla_modal th {
        font-size: 15px;
    }

    .tabla_modal td {
        font-size: 15px;
    }
}

@media screen and (max-width: 824px) {
    .titulo_modal_mostrar {
        font-size: 17px;
    }

    .contenido-modal {
        width: 60%;
    }

    .tabla_modal {
        margin: auto;
    }

    .tabla_modal th {
        font-size: 14px;
    }

    .tabla_modal td {
        font-size: 14px;
    }
}

@media screen and (max-width: 724px) {
    .titulo_modal_mostrar {
        font-size: 16px;
    }

    .contenido-modal {
        width: 60%;
    }

    .tabla_modal {
        margin: auto;
    }

    .tabla_modal th {
        font-size: 13px;
    }

    .tabla_modal td {
        font-size: 13px;
    }
}

@media screen and (max-width: 624px) {
    .titulo_modal_mostrar {
        font-size: 15px;
    }

    .contenido-modal {
        width: 60%;
    }

    .tabla_modal {
        margin: auto;
    }

    .tabla_modal th {
        font-size: 12px;
    }

    .tabla_modal td {
        font-size: 12px;
    }
}

@media screen and (max-width: 582px) {
    .contenido-modal_articulos {
        width: 65%;
    }

    .tabla_modal_articulos th {
        font-size: 10.5px;
    }

    .tabla_modal_articulos td {
        font-size: 10.5px;
    }
}

@media screen and (max-width: 524px) {
    .titulo_modal_mostrar {
        font-size: 14px;
    }

    .contenido-modal {
        width: 65%;
    }

    .tabla_modal {
        margin: auto;
    }

    .tabla_modal th {
        font-size: 11px;
    }

    .tabla_modal td {
        font-size: 11px;
    }

    .contenido-modal_articulos {
        width: 65%;
    }

    .tabla_modal_articulos th {
        font-size: 10px;
    }

    .tabla_modal_articulos td {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .titulo_modal_mostrar {
        font-size: 13px;
    }

    .close {
        font-size: 20px;
    }

    .contenido-modal {
        width: 60%;
    }

    .tabla_modal {
        margin: auto;
    }

    .tabla_modal th {
        font-size: 10px;
    }

    .tabla_modal td {
        font-size: 10px;
    }

    .contenido-modal_articulos {
        width: 65%;
    }

    .tabla_modal_articulos th {
        font-size: 9px;
    }

    .tabla_modal_articulos td {
        font-size: 9px;
    }
}

@media screen and (max-width: 495px) {
    .titulo_modal_mostrar {
        font-size: 12px;
    }

    .close {
        font-size: 18px;
    }

    .contenido-modal {
        width: 70%;
    }

    .tabla_modal {
        margin: auto;
    }

    .tabla_modal th {
        font-size: 9px;
    }

    .tabla_modal td {
        font-size: 9px;
    }

    .eliminar {
        height: 14px;
        width: 14px;
    }

    .contenido-modal_articulos {
        width: 75%;
    }

    .tabla_modal_articulos th {
        font-size: 9px;
    }

    .tabla_modal_articulos td {
        font-size: 9px;
    }
}